progress {
	-webkit-appearance: none;
	border: solid #cccccc 5px;
	border-radius: 10px;
	width: 238px;
	height: 45px;
}
progress[role]:after {
	background-image: none;
}
progress::-webkit-progress-bar {
	background: #cccccc;
}
progress::-webkit-progress-value {
	border-radius: 5px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(43,194,83)),
		color-stop(1, rgb(84,240,84))
	);
	background-image: -webkit-linear-gradient(
		center bottom,
		rgb(43,194,83) 37%,
		rgb(84,240,84) 69%
	);
}